* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#myCanvas {
  left: 0;
  top: 0;
  margin: auto;
  overflow: auto;
  width: 100%;
  height: 100%;

}

#sketch {
  left: 0;
  top: 0;
  /* position: relative; */
  width: 100vw;
  height: 65vh;
  /* overflow: auto; */
  overflow-x: scroll;
  white-space: nowrap;

}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300&display=swap');



html,
body {
  position: relative;
  font-size: large;
  /* background-color: #c29595; */

  background-color: #add8e6;
}

body>div {
  padding: 20px;
}

div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

}

label {
  padding: 0 20px;
}
/*
#popupSize {
  font-weight: bold;
  color: black;
  padding: 5px 10px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  width: 350px;
  height: 50px;
  z-index: -20;

  text-align: center;
  transform: translateX(-50%);
}

#popupSize:after {
  content: "";
  position: absolute;
  left: 50%;
}
**/

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: linear-gradient(to bottom, #eb6969 50%, #d8c5bc 100%);
  background-color: #c29595;
  height: 3vh;
  margin: auto;
  padding-top: 1vh;

}

a {
  color: white;
  font-weight: bold;
}

/* button generator: https://www.bestcssbuttongenerator.com/#/10 */
button,
select,
option {
  background: linear-gradient(to bottom, #eb6969 50%, #d8c5bc 100%);
  background-color: #d8c5bc;
  border-radius: 13px;
  display: inline-block;
  cursor: pointer;
  color: white;

  font-size: large;
  font-weight: bold;
  padding: 13px 16px;
  text-decoration: none;
  border-style: none;
}

button:hover,
select:hover,
option:hover {
  background: linear-gradient(to bottom, #eb6969 50%, #d8c5bc 100%);
  background-color: #c29595;
  color: black;
}

button:active,
select:active,
option:active {
  position: relative;
  top: 1px;
}


/* textbox generator: http://doodlenerd.com/html-control/css-textbox-generator */
input {
  padding: 10px;
  font-size: large;
  border-width: 3px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #d8c5bc;
  border-style: solid;
  border-radius: 0px;
  box-shadow: -50px 0px 0px rgba(66, 66, 66, .0);
  text-shadow: -50px 0px 0px rgba(255, 255, 255, .0);
}

input:focus {
  outline: none;
}


/* display toggle */
#ValSel,
#dateUser,
#sizeInput {
  display: none;
}


input[type=range] {
  border-style: none;
  background-color: transparent;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  border-style: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 3px 3px 2px #e3b0b0;
  background: #f3c6c6;
  border-radius: 50px;
  border: 0px solid #ca1e1e;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #ed5c5c;
  border: 0px solid #f45858;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #d21d1d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f3c6c6;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 3px 3px 2px #e3b0b0;
  background: #f3c6c6;
  border-radius: 50px;
  border: 0px solid #ca1e1e;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #ed5c5c;
  border: 0px solid #f45858;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #d21d1d;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #f3c6c6;
  border: 0px solid #ca1e1e;
  border-radius: 100px;
  box-shadow: 3px 3px 2px #e3b0b0;
}

input[type=range]::-ms-fill-upper {
  background: #f3c6c6;
  border: 0px solid #ca1e1e;
  border-radius: 100px;
  box-shadow: 3px 3px 2px #e3b0b0;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #ed5c5c;
  border: 0px solid #f45858;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #d21d1d;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #f3c6c6;
}

input[type=range]:focus::-ms-fill-upper {
  background: #f3c6c6;
}
